.Laptop-form {
  padding-top: 3rem;
}

.laptop-form-row {
  padding-bottom: 1rem;
}

.laptop-form-label {
  text-align: right;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

.nav-text {
  color: white;
}

.nav-text:hover {
  color: white;
}

body {
  padding: 2rem 0rem;
}

.card-img {
  width: 18rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}

.card-margin-bottom {
  margin: 0.8rem;
}
